header {
  background: var(--primary-color);
  color: #fff;
  padding: 2rem 1rem;
  letter-spacing: 1px;

  .main-header {
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-title {
      text-decoration: none;
      color: #fff;
    }
  }

  .login-link {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 600px) {
  header .main-header .main-title {
    font-size: 3rem;
  }
}